@font-face {
    font-family: gamergirl;
    src: url(./font/eskilfont.ttf);
}

/*.......................................................................Html body......................................................................... */

html {
	width: 100%;
	height: 100%;
	background: black;
	padding: 0;
	margin: 0;
	overflow:hidden;
	line-height: 1.42857143;
	-webkit-user-select: none; 
}

body {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
	overflow:hidden;
	margin:0 auto;
	font-family: gamergirl;
	max-width:600px;
	max-height:1000px;
}

/*.......................................................................Container......................................................................... */

.container {
	position: absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	background-image: url("./pics/designs/background.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	user-select:none;
	height: 100%;
	width:100%;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	max-width:600px;
	max-height: 1000px;
}

.container::-webkit-scrollbar { 
    display: none; 
}

/*.......................................................................Hide elements on load......................................................................... */

.taptHolderFlash, .TimeSelectorDone2Flash, .TimeSelectorDoneFlash, .gameLostFlash, .gameWonFlash, .timer, .spillHolder, 
.taptHolder, .levelHolder, .taptHolderLevel, .TimeSelectorDone2, .completeLevel, .exitTime, .retryTime, .exitTimeLevel, 
.retryTimeLevel, .TimeSelector, .TimeSelector2, .gameTreeAndFour, .TimeSelectorDone, .TimeSelectorDone2, .countDown, 
#settingsHolder, #information, #information2, #informationGame1, #informationGame2, #information3, #information4, 
#information5, #information6, #information7, #information8, #information9, .countDownToStart {
	display: none;
}


/*.......................................................................Animations......................................................................... */

.sun {
	position: absolute;
	width:215px;
	height:215px;
	top:-45px;
	left:-90px;
	margin:0 auto;
	z-index: 1;   
    animation-name: spin;
    animation-duration: 90000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.sky1 {
	position: absolute;
	width:40%;
	height: 20%;
	top:20%;
	z-index: 0;
	left:-40%;	
	/* transform:  translate(-100%); */
	animation: moveSky 15s infinite;
	animation-timing-function: linear; 
	/* animation-delay: 2s; */
}

@keyframes moveSky {
	0% {
		left:  -40%;
	}
	100% {
		left:  120%;
	}
}


.sky2 {
	position: absolute;
	width:30%;
	height: 15%;
	top:40%;
	left:-30%;
	z-index: 0;
	animation: moveSky2 20s infinite;
	animation-timing-function: linear; 
	animation-delay: 2s;
}


@keyframes moveSky2 {
	0% {
		left:  -30%;
		animation-delay: 5s;
	}
	100% {
		left:  110%;
	}
}

.flowers {
	position: absolute;
	bottom:0%;
	height:8.5%;
	width:100%;
	background-image: url("./pics/designs/roses.svg");
	user-select:none;
	background-size: cover;
	z-index:1;
	animation: changeFlowers 1.5s infinite;
}

@keyframes changeFlowers {
	0% {
		transform:  skew(0deg) translate(0px);
	}
	50% {
		transform:  skew(5deg) translate(-3px)
	}
	100% {
		transform: skew(0deg) translate(0px);
	}
}
	/* display: none; */


/*......................................................... game grafics ............................................*/

.points {
	position: absolute;
	top:4%;
	height:10%;
	text-align: center;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    opacity: 0.9;
	color:white;
    text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000, 0 -1.5px 0 #000, 1.5px 1.5px #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;
	font-size: 60px;
	left:50%;
	transform: translate(-50%, 0%);
}

.spillHolder {
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	width:100%;
	z-index: 3;
}

.timer {
	width: 100%;
	height:10%;
	text-align: center;
	position: absolute;
	bottom: 0%;
	z-index: 2;
	color:white;
	text-shadow: 1.3px 0 0 #000, -1.3px 0 0 #000, 0 1.3px 0 #000, 0 -1.3px 0 #000, 1.3px 1.3px #000, -1.3px -1.3px 0 #000, 1.3px -1.3px 0 #000, -1.3px 1.3px 0 #000;
	font-size: 40px;
}

.gameLostFlash, .gameWonFlash {
	position: fixed;
	top:0%;
	width: 100%;
	height: 100%;
	font-size: 0px;
	z-index: 1001;
	color:white;
}
.won , .sorry {
	text-align: center;
	width: 100%;
	top:40%;
	font-size: 0px;
	position: fixed;
	-webkit-transition: all 500ms linear;
}

.completeBanner, .nxtLevelBanner, .failedBanner {
	width:96%; 
	margin-left:2%; 
	margin-right:2%; 
	position:absolute; 
	top:0%; 
	left:0%;
}

/*.wonText, .sorryText {
	-webkit-transition: all 500ms linear;
	position: fixed;
	font-size: 30px;
	top:50%;
	width: 100%;
	text-align: center;
	color:white;
}*/

/*.......................................................................Frontpage......................................................................... */



.info {
	height: 100%;
	text-align: center;
	width:100%;
	margin:0 auto;
	-webkit-user-select: none; 
	background-color: rgba(0,0,0,0.2);
    z-index: 2;
    position: absolute;	
}


.logo {
	height: 15%;
	position: absolute;
	width:100%;
	top:2%;
	text-align: center;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    opacity: 0.9;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000, 0 -1.5px 0 #000, 1.5px 1.5px #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;
   z-index: 100;
   font-size: 75px;

}


/*.......................................................................buttons......................................................................... */

.buttonText {
	display: block;
	text-align: center;
}


.play {
	position: absolute; 
	width:90%;
	top:18%;
	left:50%;
	user-select: none;
	z-index:11;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;	
	height:165px;
}

.play2 {
	position: absolute; 
	width:90%;
	top:42%;
	user-select: none;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;
	height:165px;		
}

.play3 {
	position: absolute; 
	width:90%;
	top:67%;
	user-select: none;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;	
	height:165px;	
}

.timer1 {
	position: absolute; 
	width:100%;
	top:11%;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;
	height:165px;		
}
.timer2 {
	position: absolute; 
	width:100%;
	top:37%;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;	
	height:165px;
}
.timer3 {
	position: absolute; 
	width:100%;
	top:62%;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;
	height:165px;
}
.timer4 {
	position: absolute; 
	width:100%;
	top:11%;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;	
	height:165px;
}
.timer5 {
	position: absolute; 
	width:100%;
	top:37%;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;
	height:165px;	
}
.timer6 {
	position: absolute; 
	width:100%;
	top:62%;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;	
	height:165px;
}


.game3 {
	position: absolute; 
	width:100%;
	top:25%;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;	
	height:165px;
}
.game4 {
	position: absolute; 
	width:100%;
	top:50%;
	z-index:11;
	left:50%;
    max-width: 320px;
    transform: translate(-50%, 0%);
	max-height:165px;	
	height:165px;
}

#spill, #spill2, #spill3 {
	position: absolute;
	z-index: 1;
	width:50%;
	left:50%;
	margin-top:21%;
	height: 50%;
	text-align: center;
    opacity: 0.9;
    text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000, 0 -1.5px 0 #000, 1.5px 1.5px #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;
    color:white;
	user-select:none;
	line-height: 33px;
	letter-spacing: 2px;
	transform: translate(-50%, 0%);
	font-size: 28px;

}

#time1, #time2, #time3, #time4, #time5, #time6, #game3Txt, #game4Txt  {
	position: absolute;
	z-index: 9999;
	width:50%;
	left:25%;
	margin-top:23.5%;
	cursor: pointer;
	height: 35%;
	text-align: center;
    opacity: 0.9;
    text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000, 0 -1.5px 0 #000, 1.5px 1.5px #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;
    color:white;
	user-select:none;
	line-height: 25px;
	letter-spacing: 2px;
	font-size: 28px;	
}

#hiScore10Birds, #hiScore30Birds, #hiScore50Birds {
	letter-spacing: 0px;
}  

#hiScore, #hiScore15, #hiScore30, #hiScore60, #hiScore10Birds, #hiScore30Birds, #hiScore50Birds {
	font-size: 20px;
}

.msec, .msec10, .msec30, .msec50, .msecR {
	margin-left:-5px;
}

/* #game3Txt, #game4Txt  {
	margin-top:11%;
} */


.back {
	text-align: center;
}

.back, .backLevel, .backLevel2, .backLevel3, .backTimeSelector, .backTimeSelector2, .Game3and4Back, .backTimeSelectorDone, .backTimeSelectorDone2, .timeLevel {
	font-size: 33px;
	opacity: 0.8;
}

.playAgain {
	top:5%;
}

.nextLevel {
	position: absolute;
	z-index:11;
	top:50%;
	width:100%;
	left:50%;
    max-width: 320px;
	transform: translate(-50%, 0%);
	height:165px;
    max-height:165px;	
}


.playAgainLevel {
	position: absolute; 
	top:50%;  
	z-index:11;
	width:100%;
	left:50%;
    max-width: 320px;
	transform: translate(-50%, 0%);
	height:165px;
    max-height:165px;	
}

.playAgain, .backTimeSelectorDone, .backTimeSelectorDone2, .playAgainTime2, .playAgainTime  {
	position: absolute;
	width:100%;
	left:50%;
	top:50%;
    max-width: 320px;
	transform: translate(-50%, 0%);
	height:165px;
	max-height:165px;	
	font-size: 30px;
}

.playAgainTimeFlash, .playAgainTime2Flash  {
	position: fixed;
	width:100%;
	top:120%;
	-webkit-transition: all 800ms linear;
	font-size: 30px;
}

.backTimeSelectorDone2 {
	position: absolute;
	top:50%;
	width:100%;
}

#playAgain, #playAgainTime, #playAgainTime2{
    text-align: center;
    width: 50%;
    left: 25%;
    position: absolute; 
    text-align:center;
	margin-top:80px;
}

.retry {
    text-align: center;
    width: 50%;
    left: 25%;
    position:absolute; 
    text-align:center;
	margin-top:23%;
	font-size: 38px;
}

.nxt {
    text-align: center;
    width: 50%;
    left: 25%;
    margin-top:24.5%;
    position:absolute; 
	text-align:center;
	font-size: 33px;
}

.back {
	position: absolute;
	bottom:0%; 
	z-index:11;
	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	width:50%;
	left:50%;
	transform: translate(-50%, 0%);
}

.backLevel {
	bottom: 0%;
	position: absolute; 
	z-index:11;
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	width:50%;
	left:50%;
	transform: translate(-50%, 0%);	
}

.backLevel2 {
	top:93%;
	position: absolute; 
	z-index:11;
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	width:50%;	
	left:50%;
	transform: translate(-50%, 0%);	
}

.backLevel3 {
    position: absolute;
    z-index: 9999;
    bottom: 3%;
    width: 50%;
    left:35%;
    text-align: center;
    line-height: 0;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	left:50%;
	transform: translate(-50%, 0%);	
}

.backTimeSelector, .backTimeSelector2, .Game3and4Back {
    position: absolute;
    bottom: 3%;
    z-index: 9999;
    width: 50%;
    text-align: center;
    line-height: 0;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
	text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	left:50%;
	transform: translate(-50%, 0%);	
}

.backTimeSelectorDone, .backTimeSelectorDone2 {
	position: absolute;
	top:93%; 
	z-index:11;
	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	width:50%;
	left:50%;
	transform: translate(-50%, 0%);	
}

#startGame, #continuePlay, #continuePlay2, #continuePlay3, #continuePlay4, #continuePlay5, #continuePlay6, #continuePlay7 {
	padding-top:5px;
	border-radius: 70px;
	border: 1px solid gray;
	background: #fff;	
	width:50%;
	left:25%;
	position: absolute;
	bottom:20%;
	color:#000;
	text-align: center;
	font-size: 33px;
}
.timeLevel {
	position: absolute;
	width: 100%;
	text-align: center;
	top:20%;
}
.exitTime, .exitTimeLevel {
	position: relative;
	top:1%;
	left:2%;
	width:10%;
	float:left;
	height: 6%;
	z-index: 500;
}
.retryTime, .retryTimeLevel {
	position: relative;
	top:1%;
	float:right;
	right:2%;
	width:10%;
	height: 6%;
	z-index:500;
}


/*............................................Game over/done/complete...........................................................*/

.tapt, .TimesUp, .TimesUp2, .taptFlash {
	position: relative;
	width:100%;
	top:25%; 
	z-index:11; 
	left:50%;
    max-width: 320px;
	transform: translate(-50%, 0%);
	height:165px;
	max-height:165px;	
	font-size: 30px;	
}

.TimesUpFlash, .TimesUp2Flash, .taptFlash {
	position: relative;
	width:100%;
	top:-25%; 
	z-index:11; 
	left:50%;
    max-width: 320px;
	transform: translate(-50%, 0%);
	height:165px;
	max-height:165px;	
	font-size: 30px;
    -webkit-transition: all 800ms linear;
}

.complete {
	position: absolute;
	width:100%;
	top:25%; 
	z-index:11; 
	left:50%;
    max-width: 320px;
	transform: translate(-50%, 0%);
	height:165px;
    max-height:165px;	
}

.completeFlash, .taptFlash {
	position: fixed;
	width:100%;
	top:-25%; 
	z-index:11;
	text-align: center;
    text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000, 0 -1.5px 0 #000, 1.5px 1.5px #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;
    color:white;
	-webkit-transition: all 800ms linear;
	left:50%;
    max-width: 320px;
	transform: translate(-50%, 0%);
	height:165px;
	max-height:165px;
	font-size: 30px;	
}

.nextLevelFlash, .playAgainFlash {
	position: fixed;
	width:100%;
	top:105%; 
	z-index:11;
	text-align: center;
    text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000, 0 -1.5px 0 #000, 1.5px 1.5px #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;
    color:white;
	-webkit-transition: all 800ms linear;
	left:50%;
    max-width: 320px;
	transform: translate(-50%, 0%);
	height:165px;
	max-height:165px;	
	font-size:30px;	
}


.taptHolder, .taptHolderLevel, .completeLevel, .TimeSelectorDone, .TimeSelectorDone2, .TimeSelectorDone2, .TimeSelectorDoneFlash, .TimeSelectorDone2Flash, .taptHolderFlash {
	text-align: center;
	height: 100%;
    width:100%;
    text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000, 0 -1.5px 0 #000, 1.5px 1.5px #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;
    color:white;
    position: absolute; 
	z-index:11;
	background-color:rgba(0,0,0,0.2);
}

.taptHolderLevel {
	top:0%;
}

.taptLevel{
	position: absolute;
	z-index:11;
	top:25%;
	left:50%;
	width:100%;
    max-width: 320px;
	transform: translate(-50%, 0%);
	height:165px;
    max-height:165px;		
}

.levelCompleteHolder {
	position:absolute; 
	margin-top:22.5%;  
	color:green; 
	text-align:center;
	width:100%;
	line-height:28px;	
	font-size:30px;	
}

.levelCompleteFlash {
	position:absolute; 
	margin-top:22.5%;  
	color:green; 
	text-align:center;
	width:100%;
	line-height:28px;		
	font-size:30px;	
}

.holder, .holderFlash {
	position:absolute; 
	margin-top:24%; 
	text-align:center;
	width:100%;
	line-height:25px;
}

.levelFailedHolder {
	position: absolute;
    margin-top: 22.5%;
    text-align: center;
    width: 100%;
    z-index: 99999;
	color: #ff3232;
	line-height: 28px;
	font-size: 30px;
}
.dead {
	position: absolute;
	width: 19%;
	height: 13%;
	top:44%;
	left:0;
	background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: 95% 100%;
	-webkit-transform-style: preserve-3d;
}

/*............................................Information...........................................................*/


#information, #informationGame1, #information2, #informationGame2, #information3, #information4, #information5, #information6, #information7, #information8, #information9  {
	position: absolute;
	width:100%;
	z-index: 2;
	color:#fff;
	height:100%;
	overflow:hidden;
	text-align: center;
	font-size: 25px;
	background-color: rgba(0,0,0,0.8);
}
/*#information8, #information9 {
	text-align: center;
}*/

#informationText, #informationGame1Text, #information2Text, #informationGame2Text, #noKillInfo, #armorInfo, #smallBirdInfo, #timeAttackInfo, #AttackNumberOfBirds, #levelTimeGameInfoText {
	position: absolute;
	top:40%;
	width:90%;
	left:5%;
}
.infoBird {
	width:18%; 
	position:absolute; 
	top:19%; 
	left:41%;
}
.clock {
	width:18%; 
	position:absolute; 
	top:27%; 
	left:41%;
}
.infoSmallBird {
	width:11%;
	height:4%;
	left:44.5%;
	position: absolute;
	top:26%;
}

/*.......................................settings...............................................................*/

#settingsHolder {
	position: fixed;
	width:100%;
	height: 100%;
	z-index: 5000;
	top:0%;
	background-color: rgba(0,0,0,0.85);
}

.settingsHolderBackground {
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: 0.9;
}
#settings {
	position: absolute;
	bottom:10%;
	width:72%;
	height: 80%;
	z-index: 9999;
	left: 14%;
	color:#fff;
}
#playSound {
	position: relative;
	z-index: 11;
	top:25%;
	z-index: 9999;
}
/*#backgroundSound {
	position: absolute;
	z-index: 11;
	top:30%;
	z-index: 9999;
}*/
#playVibration {
	position: relative;
	z-index: 11;
	top:60%;
	z-index: 9999;
}

.settingsIcon {
	position: absolute;
	z-index: 11;
	left:50%;
	width:10%;
	top:90%;
	z-index: 1000;
	transform:translate(-50%, 0%);
}

.settingsIconImage {
	height:100%;
	width:100%; 
	position:relative; 
	top:10%;
	opacity: 0.8;
}
#exitSettings {
	position: absolute;
	z-index: 11;
	width:16%;
	height:10%;
	bottom:-9%;
	z-index: 9999;
	left:50%;
	transform:translate(-50%, 0%);
}

.sound {
	position: absolute;
	z-index: 11;
	top:-15%;
	z-index: 9999;
    width: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.soundText {
	display: block;
	float:left;
}

.vibration {
	position: absolute;
	z-index: 11;
	top:-13%;
	z-index: 9999;
    width: 30%;
    left: 50%;
    transform: translate(-50%, 0%);	
}

.vibrationText {
	float:left;
	display: block;
}


.soundOnOFF, .vibrationOnOff {
	height:100%; 
	width:100%; 
	position:relative; 
	top:10%;
}



/*.........................................................*/

.levelHolder {
	height: 100%;
	width: 100%;
	top:0px;
}
.TimeSelector, .TimeSelector2, .gameTreeAndFour {
	position: fixed;
	top:0%;
	height: 100%;
	width: 100%;
	overflow: hidden;	
	z-index:100;
	background-color: rgba(0,0,0,0.2);
}

.levels {
	height: 100%;
	width: 100%;
	position: absolute;
	top:0px;
	overflow:auto;
    z-index: 3;
    background-color: rgba(0,0,0,0.2);	
}



.levels::-webkit-scrollbar { 
    display: none; 
}
.TimeSelector::-webkit-scrollbar { 
    display: none; 
}
.TimeSelector2::-webkit-scrollbar { 
    display: none; 
}
.levelSky, .levelSky2 {
	z-index: 100;
	position:relative;
	margin-top:5%;
}

.levelHolder::-webkit-scrollbar { 
    display: none; 
}


.sky {
	color: white;
	position:relative;  
	top:38%; 
	text-align:center; 
	font-size: 28px;
	text-shadow: 1.3px 0 0 #000, -1.3px 0 0 #000, 0 1.3px 0 #000, 0 -1.3px 0 #000, 1.3px 1.3px #000, -1.3px -1.3px 0 #000, 1.3px -1.3px 0 #000, -1.3px 1.3px 0 #000;
}

.skyImage1, .skyImage2, .skyImage3 {
	height:25%; 
	width:12%; 
	position:absolute;
	top:56%; 
	left:44%;
}

.skyImage1 {
	height:17%;
	top:60%;
}

.skyImage2 {
	background-image: url('./pics/birds/deadbird-left.svg');
	background-size: 100%;
	width:13%;
	background-repeat: no-repeat;
}

.skyImage3 {
	background-image: url('./pics/icons/lock.svg');
	background-size: 100%;
	width:13%;
	background-repeat: no-repeat;
	height:20%;
	width:10%;
	left:45%;
	top:58%;	
}

.lostPoint {
	position: absolute;
	width: 100%;
	height: auto;
	top:4%;
	text-align: center;
    text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000, 0 -1.5px 0 #000, 1.5px 1.5px #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;
	color:white;
	font-size: 60px;	
}

.countDown {
    position: relative;
    height:auto;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    cursor: default;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color: white; 
   -webkit-text-stroke-width: 1px;
    opacity: 0.5; 
    cursor: default;

}


.countDownToStart {
    z-index: 9999;
    position: absolute;
    min-height:100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    cursor: default;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color: white; 
   -webkit-text-stroke-width: 4px;
   line-height: initial;
   font-size: 33vh;
   top:33%;
}


/*...............................................stuff.....................................*/

.highscore {
	text-align: center;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    position: absolute;
	width:100%; 
	z-index:11;
	bottom:4%;
    opacity: 0.9;
    color:black;
    text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000, 0 -1.5px 0 #000, 1.5px 1.5px #000, -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000;
    line-height: 0;
}

.shot {
	position: absolute;
	width: 12%;
	height: 12%;
	top:44%;
	left:0;
	background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background-size: 100%;
}

.Exit {
	text-align: center;
    top:36%;
	height: 100%;
    width:100%;	
}
